.app-header {
    background-color: var(--clr1);
    color: var(--clr1bg);
    padding-block: 1em;
}

.app-nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1{
      flex-grow: 1;
  }
}

a.active {
  color: var(--clr1bg-light);
  font-weight: 600;
  text-decoration: underline;
}