.review-list {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;

  li.review-article {
    padding: 1em;
    margin-block: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  button {
    float: right;
  }
}
