.toy-filter {
  background-color: var(--clr2bg);
  padding: 1em;
  height: 200px;
}
.filter-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: 20px;
}
.filter-label {
  display: flex;
  align-items: start;
}