.toy-preview {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  text-align: center;
  padding: 0.3em;

  margin: 50px;
  padding: 20px;
  max-width: 300px;
  word-wrap: break-word;
}
.toy-preview h4 {
  text-transform: capitalize;
  color: black;
}

.toy-preview-img-container {
  max-width: 200px;
  border: 1px solid var(--clr2bg);
  border-radius: 50%;
  overflow: hidden;
}
